.admin-menu-no1-container {
  font-family: "IBM Plex Sans KR", sans-serif;
  padding-top: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 100vh;
  position: fixed;
  width: 250px;
  box-shadow: 0px 0px 5px #000;
}

.admin-menu-title {
  text-align: center;
  font-weight: bold;
}

.admin-menu {
  margin-left: 30px;
  margin-top: 40px;
  list-style: none;
}

.admin-menu li a {
  color: black;
  font-size: 20px;
}

.admin-menu li {
  margin-top: 5px;
  margin-bottom: 5px;
}
